@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #000000;
}
.top {
  height: 130px;
  background-image: linear-gradient(
    -270deg,
    #f083a0 0%,
    #c38edc 67%,
    #7fadff 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.spc {
  font-size: 50px;
  background: -webkit-linear-gradient(#a19c9c, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.act {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.action {
  border: none;
  height: 300px;
  width: 300px;
  margin: 50px;
  border-radius: 400px;
  cursor: pointer;
}
.action:hover {
  border: 5px solid rgb(255, 255, 255);
}
.act1 {
  background-image: url(images/rock.png);
  background-size: cover;
  background-position: center center;
}
.act2 {
  background-image: url(images/paper.png);
  background-size: cover;
  background-position: center center;
}
.act3 {
  background-image: url(images/scissors.png);
  background-size: cover;
  background-position: center center;
}
.count {
  display: flex;
  justify-content: center;
  align-items: center;
}
.you {
  width: 100px;
  align-items: last baseline;
  justify-content: center;
  display: flex;
  margin-right: 50px;
  font-size: 36px;
  color: #fff;
}
.bot {
  width: 100px;
  align-items: last baseline;
  justify-content: center;
  display: flex;
  margin-right: 50px;
  font-size: 36px;
  color: #fff;
}
.countnum {
  display: flex;
  justify-content: center;
  align-items: center;
}
.move {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pick {
  border-radius: 18px;
  padding: 15px;
  font-size: 36px;
  color: #ffffff;
  background-color: rgb(67, 2, 67);
  margin-right: 50px;
  margin-top: 60px;
  border: none;
}
.Reset {
  border-radius: 18px;
  padding: 10px;
  font-size: 36px;
  color: #ffffff;
  background-image: linear-gradient(
    -270deg,
    #f083a0 0%,
    #c38edc 67%,
    #7fadff 100%
  );
  margin-right: 50px;
  margin-top: 60px;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 1200px){
  .top{
    height: 100px;
  }
  .spc {
    font-size: 36px;
  }
  .action {
    height: 250px;
    width: 250px;
    background-size: cover;
  background-position: center center;
  }
}
@media screen and (max-width: 1052px){
  .top{
    height: 100px;
  }
  .spc {
    font-size: 36px;
  }
  .action {
    margin-top: 100px;
    height: 200px;
    width: 200px;
    background-size: cover;
  background-position: center center;
  }
}
@media screen and (max-width: 900px){
  .top{
    height: 100px;
  }
  .spc {
    font-size: 36px;
  }
  .action {
    height: 150px;
    width: 150px;
    background-size: cover;
  background-position: center center;
  }
}
@media screen and (max-width: 750px){
  .top{
    height: 100px;
  }
  .spc {
    font-size: 36px;
  }
  .action {
    height: 120px;
    width: 120px;
    background-size: cover;
  background-position: center center;
  }
}
@media screen and (max-width: 660px){
  .top{
    height: 100px;
  }
  .spc {
    font-size: 36px;
  }
  .action {
    height: 90px;
    width: 110px;
    background-size: cover;
  background-position: center center;
  }
}
@media screen and (max-width: 375px){
  .top{
    height: 80px;
  }
  .spc {
    font-size: 30px;
  }
  .act{
    width: auto;
  }
  .action {
    height: 80px;
    width: 100px;
    background-size: cover;
  background-position: center center;
  }
  .you{
    font: size 24px; 
  }
  .bot{
    font: size 24px; 

  }
  .pick{

    font-size: 20px;
    margin-left: 50px;
  }
  .Reset{
    font-size: 28px;
    justify-content: center;
    align-items: center;
  }
}